.nav-cont {
  background-color: #2c364c;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  list-style-type: none;
}
.links-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-logo {
  margin-left: 50px;
}
.link {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.link-txt {
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-right: 15px;
}
.logout {
  margin-right: 50px;
}
